<footer class="row border-top">
<h3 class="col-md-5 p-3"><strong><a href="{{ '/' | url }}" title="{{metadata.title}}">{{metadata.title}}</a></strong></h3>
<p class="col-md-6 p-3 col-11">
{{metadata.description}}<br/>{{metadata.slogan}} <a href="{{metadata.link}}">{{metadata.btn}}</a>
</p>
</footer>