<div class="row border-bottom">
<div class="col-md-8 p-3 p-md-5 border-end">
<h3><strong><a href="{{ '/' | url }}" title="{{metadata.title}} {{metadata.info}}">{{metadata.info}}</a></strong></h3>
<p>{{metadata.infotext}}</p>
</div>
<div class="col-md-4 p-3 p-md-5">
<p>
<b>Opening Times</b></br>
Monday - Saturday
8am - 11pm
<p>
Contact us now for assistance
</br><a href="mailto:{{metadata.email}}" class="btn btn-outline-dark">Email Now</a>
</br><a href="tel:{{metadata.tel}}" class="btn btn-outline-dark">Call Now</a>
</p>
<p>{{metadata.areas_covered_title}}</p>
<p class="row"><small>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area1}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area2}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area3}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area4}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area5}}</a>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area6}}</a>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area7}}</a>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area8}}</a>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area9}}</a>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area10}}</a>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.area11}}</a>
</small>
</p>
</div>
</div>
