<header class="row border-bottom">
<div class="col-md-4 p-1 col-4">
<p><strong><a href="{{ '/' | url }}" class="navbar-brand">{{ metadata.title }}</a></strong></p>
</div>
<!--
<ul class="nav col-md-8 col-8 p-1 justify-content-end">

</ul>
-->
</header>